/*CSS RESET*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*UTILITIES*/

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



button{
  padding: 7px 18px;
  background-color: #0061FF;
  border: none;
  color: white;
  cursor: pointer;
  text-align: center;
}



li{
  list-style: none;
  display: inline;
  padding: 20px;
}



a{
  text-decoration: none;
  color: black;
}


img{
  width: 100%;
}


/*HEADER*/
header{
  height: 80px;
  background-color: #FFFFFF; 
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  box-shadow: 0 1px rgba(0, 0, 0, 0.05);
}



.logo{
  padding: 10px 30px;
}



.container-flex-nav{
  display: flex;
  align-items: center;
  position: absolute;
  right: 20px;
}






/*JUMBOTRON*/


.jumbotron{
  position: relative;
  display: flex;
  height: 800px;
  background-color: #B4D0E7;
  justify-content: center;
  align-items: center;
}



.title{ 
  width: 70%;
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  top: 170px;
}


.jumbotron p{
  position: absolute;
  top: 415px;
  left: 288px;
  width: 377px;
}


.jumbotron button{
  display: block;
  margin: 20px 0px;
}

.jumbotron img{
  width: 900px;
  position: absolute;
  top: 423px;
  left: 778px;
}



/*MAIN*/