/*CSS RESET*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*UTILITIES*/

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



button{
  padding: 7px 18px;
  background-color: #0061FF;
  border: none;
  color: white;
  cursor: pointer;
  text-align: center;
}



li{
  list-style: none;
  display: inline;
  padding: 20px;
}



a{
  text-decoration: none;
  color: black;
}


img{
  width: 100%;
}




/*HEADER*/
header{
  height: 80px;
  background-color: #FFFFFF; 
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  box-shadow: 0 1px rgba(0, 0, 0, 0.05);
}



.logo{
  padding: 10px 30px;
}



.container-flex-nav{
  display: flex;
  align-items: center;
  position: absolute;
  right: 20px;
}






/*JUMBOTRON*/


.jumbotron{
  position: relative;
  display: flex;
  height: 800px;
  background-color: #B4D0E7;
  justify-content: center;
  align-items: center;
}



.title{ 
  width: 70%;
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  top: 170px;
}



.jumbotron p{
  position: absolute;
  top: 415px;
  left: 288px;
  width: 377px;
}


.jumbotron button{
  display: block;
  margin: 20px 0px;
}

.jumbotron img{
  width: 900px;
  position: absolute;
  top: 423px;
  left: 778px;
  z-index: 998;
}


/*MAIN*/


.container{
  display: flex;
  justify-content: space-evenly;
  height: 1000px;
  width: 1074px;
  min-width: 200px;
  margin: 0 auto;
  margin-top: 200px;
  position: relative;
}


/*BUSINESS PLANES CARDS*/
.business-cards{
  display: flex;
  justify-content: center;
  height: 90%;
  width: 291px;
  border: 1px solid lightgray;
  position: absolute;
  top: 100px;
  left: 70px;
}



.top-business-card{
  height: 40px;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  text-align: center;
  font-size: 13px;
}



.business-cards .main-business-card{
  position: absolute;
  top: 60px;
  width: 90%;
  height: 90%;
}


.main-business-card h4{
  padding: 10px 20px;
}


.main-business-card span:first-of-type{
  padding-left: 20px;
}


.main-business-card li{
  display: block;
  font-size: 12px;
  text-align: left;
  padding-left: 20px;
  padding-top: 0;
  padding-bottom: 30px;
}



.main-business-card button{
  margin: 20px;
  padding-right: 30px;
}



.main-business-card .acquista{
  padding: 10px 20px;
  font-size: 13px;
}



.main-business-card h5{
  margin-top: 30px;
  margin-left: 16px;
  padding: 5px;
}



.main-business-card>ul:nth-last-of-type(1)>li>i{
  color:#005FFF;
}




.second{
  position: absolute;
  top: 100px;
  left: 390px;
}



.third{
  position: absolute;
  top: 100px;
  left: 709px;
}



.fourth{
  width: 86.7%;
  height: 200px;
  position: absolute;
  top: 1060px;
  left: 70px;
}




.main-business-card,.bottom-card>h4{
  padding: 10px 0;
}



.main-business-card,.bottom-card>h6{
  padding: 10px 0;
}



.bottom-card>span{
  font-size: 12px;
  margin-left: -20px;
}



.bottom-card>button{
  position: absolute;
  top: 0;
  right: 0;
}



/*SELEZIONE PARTNER*/

.container-partner{
  height: 400px;
  width: 86.7%;
  position: absolute;
  top: 1400px;
  left: 67px;
}


.container-partner .partner{
  width: 40%;
  float: right;
  padding-right: 70px;
  padding-top: 40px;
}


.container-partner img{
  width: 50%;
  object-fit: cover;
}



.partner h4{
  font-size: 19px;
}



.partner p{
  font-size: 14px;
  padding: 20px 0;
}



.partner button{
  background-color: white;
  color: black;
  border: 1px solid black;
}



.container-partner h2{
  margin-top: 50px;
  margin-bottom: 10px;
}



/*OPERZIONI DROPBOX*/

.container-operazioni{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 900px;
  width: 86.7%;
  position: absolute;
  top: 1900px;
  left: 67px;
}




.container-operazioni h2{
  margin-top: 90px;
  max-width: 350px;
}



.container-operazioni a{
  display: block;
  color: #005FFF;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 400;
  margin: 25px 0;
}



.cards{
  display: inline-block;
  width: 270px;
  height: 460px;
}


.cards img{
  width: 100%;
  object-fit: cover;
}


.cards h3{
  padding: 5px 0;
}


.cards p{
  font-size: 14px;
}



/*SPONSOR*/
.container-sponsor{
  position: absolute;
  top: 310%;
  width: 100vw;
  height: 400px;
  background-color: #F5F5F5;
}



.square-left{
  width: calc(100% / 4);
  height: 100%;
}



.square-right{
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% / 4);
  height: 100%;
  float: right;
}



.square-uno-left, .square-due-left, .square-tre-left, .square-quattro-left, .square-uno-right, .square-due-right, .square-tre-right, .square-quattro-right{
  width: 200px;
  height: 200px;
  float: left;
}



.square-uno-right, .square-due-right, .square-tre-right, .square-quattro-right{
  float: right;
}



.square-uno-left{
  display: flex;
  background-color: #A2D39B;
}



.square-uno-left img{
  width: 150px;
  margin: 0 auto;
}



.square-due-left{
  display: flex;
  background-color: #61082B;
}


.square-due-left img{
  width: 100px;
  margin: 0 auto;
}


.square-tre-left{
  display: flex;
  background-color: #0093CE;
}


.square-tre-left img{
  width: 100px;
  height: 28px;
  margin: 86px auto;
}



.square-quattro-left{
  display: flex;
  background-color: #FF1C1C;
}



.square-quattro-left img{
  width: 100px;
  margin: auto;
}


.square-central{
  background-image: url(../img/designit.svg);
  background-repeat: no-repeat;
  text-align: center;
}




.square-uno-right{
  display: flex;
  background-color: #B4D0E7;
}



.square-uno-right img{
  width: 100px;
  margin: auto;
}



.square-due-right{
  display: flex;
  background-color: #D5001F;
}


.square-due-right img{
  width: 100px;
  margin: auto;
}


.square-tre-right{
  display: flex;
  background-color: #FFD830;
}


.square-tre-right img{
  width: 100px;
  margin: auto;
}



.square-quattro-right{
  display: flex;
  background-color: #0D2481;
}



.square-quattro-right img{
  width: 100px;
  margin: auto;
}




/*CTA*/
.cta-bottom{
  display: flex;
  align-items: center;
  height: 400px;
  background-color: #B4D0E7;
}


.cta-bottom h2{
  font-size: 30px;
  margin-left: 235px;
  color: #61082B;
}



.cta-bottom button{
  position: absolute;
  right: 235px;
  color: black;
  background-color: #FFFFFF;
}



/*QUESTIONS*/
.container-questions{
  height: 520px;
  width: 1448px;
  
  position: absolute;
  top: 4000px;
}



.container-questions h2, .dropdown{
  padding: 30px 0;
  border-bottom: 1px solid lightgray;
}


.dropdown i{
  float: right;
  padding-right: 30px; 
  font-size: 30px;
}